# ---- Unreal Engine ----
# Build and intermediate files
[Bb]inaries/
[Bb]uild/
[Dd]erivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.userprefs
*.log
*.tlog
*.pyc
*.pdb
*.db
*.opendb
*.pidb
*.sln.iml

.vs/
*.VC.db
*.VC.opendb
*/ipch

.idea/

*.dmp
*.pdb
*.backup

*.dll
*.exe
*.app
*.so
*.dylib


.DS_Store
Thumbs.db
desktop.ini


Plugins/*/Intermediate/
Plugins/*/Binaries/

WindowsNoEditor/
LinuxNoEditor/
MacNoEditor/
Android_ASTC/
Android_ETC2/
Android_DXT/
HTML5/
IOS/
TVOS/

AutomationTool/
Engine/Programs/AutomationTool/Saved/

Engine/DerivedDataCache/

Scripts/

Content/